/*---------------------Sidebar-----------------------*/
.content,
#app {
    height: 100%;
	min-width:350px;
}

    #app .win-splitviewpanetoggle {
        float: left;
    }

    /* SplitView pane content style*/
    #app .header {
        white-space: nowrap;
    }

    #app .title {
        font-size: 25px;
        left: 50px;
        margin-top: 6px;
        vertical-align: middle;
        display: inline-block;
    }

    #app .nav-commands {
        margin-top: 20px;
    }

.win-navbarcommand-button {
    background-color: transparent;
}

#app .win-splitview-pane-hidden .win-navbarcommand-button {
    width: 46px;
}

#app .win-splitview-pane-hidden .win-navbarcommand-label {
    /* Workaround: Make sure pane doesn't scroll if ContentDialog restores focus to
       NavBarCommand's label
    */
    visibility: hidden;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: #ffffff;
}
/*---------------------Eigenprogrammierung-----------------------*/
article{
	font-family: Arial;
}
footer{
	font-family: Florence;
}

.zentriert{
	position:relative;
	left:50%;
	margin-left:-240px;
}

.headclass{
	position:static;
	top:0%;
	left:0%;
	right:0%;;
	text-align: center;
}
.horizontal{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: -webkit-column;
	flex-direction: -ms-row;
	flex-direction: row;
	text-align: center;
}
#fragmentsWithControlsDiv{
	width:100%;
	height:100%;
}

.articleclass{
	top:45px;
	background-color:gray;
	margin-left: auto;
    margin-right: auto;
	width:100%;
	margin-bottom:80px;
	max-width:1000px;
	margin-bottom:100px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: -webkit-column;
	flex-direction: -ms-column;
	flex-direction: column;
	
	/*
	background-size:cover;
	background-image: url("/images/Logo/224.jpg");
	background-repeat: no-repeat;*/
}

.foot{
	position:absolute;
	bottom:5px;
	left:0%;
	right:0%;	
	padding: 0px;
	height: 40px;
	background-color: #cfd1d4;
	text-align: center;
}
#wrapper:fullscreen{
	background-color:white;
}

#article1{flex: 1 1 200px;}
#article2{flex: 10 3 100px;}
#article3{flex: 10 2 100px;}

/*---------------------Testfragment2-----------------------*/
.flipView {
    width: 100%;
    max-width: 480px;
    height: 270px;
    background-image: url("/images/Logo/grau.jpg");	
}

.flipViewContent {
    width: 100%;
    max-width: 500px;
    height: 270px;
}

#simple_FlipView.win-flipview .win-navright {
	margin-left:-70px;
}
#simple_FlipView.win-flipview .win-navbutton{
	width:70px;
}
.overlaidItemTemplate {	
    width: 100%;
    max-width: 480px;
    height: 270px;
}
.imageview{
	position: relative;
	left:50%;
	margin-left:-240px;
	margin-top:10px;
	width:480px;
	text-align:center;
}
    .overlaidItemTemplate img {
        width: 100%;
        height: 100%;
    }

    .overlaidItemTemplate .overlay {
        position: absolute;
		background-color: rgba(0,0,0,0.45);
        height: 40px;
        padding: 20px 15px;
        overflow: hidden;
        width:100%;
        bottom:0;
    }

        .overlaidItemTemplate .overlay .ItemTitle {
            color: rgba(255, 255, 255, 0.8);
        }
/*---------------------Testfragment1-----------------------*/
.tf1text{
	margin: 5%;
	text-align:justify;
}

/*---------------------Testfragment3-----------------------*/
.tf3text{
	text-align:center;
}










