/*---------------------TestBlank----------------------------*/
header{
	background-image: url("/images/Lustgrotte/headerimage.jpg"); 	
	background-position-y:46%;
	
	background-repeat:no-repeat;
}

footer{
	text-align:center;
}

.eingabe{
	text-align:center;
}
.bild{
	dragable:false;
}







